.banks {
    .row {
        [class*=col] {
            flex: 0 0 20%;
            max-width: 20%;

            .bank {
                background: #fff;
                border-right: 1px solid $border;
                border-bottom: 1px solid $border;
                transition: 0.3s all;
                display: block;
                line-height: 9rem;
                text-align: center;
                font-size: 0;
                position: relative;

                img {
                    filter: grayscale(100%);
                    transition: $transition;
                }

                &:hover {
                    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.08);
                    z-index: 10;

                    img {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}
