#banner-main {
    background: url("../img/bg-girl.png") no-repeat right #ebeef4;
    padding: 5rem 0 13.5rem 0;
    background-size: auto 100%;
    @include media-breakpoint('md') {
        background: url("../img/bg-girl.png") no-repeat bottom #ebeef4;
        height: calc(100vh - 3.5rem);
        padding: 3rem 0 0 0;
    }


    .title {
        max-width: 41rem;
        font-size: 3.5rem;
        @include media-breakpoint('md') {
            font-size: 1.75rem;
        }
    }

    p {
        font-size: 1.125rem;
        color: rgba($text, 0.7);
        @include media-breakpoint('md') {
            font-size: 0.875rem;
        }
    }
}
