.banner {
    background: url("../img/banner.jpg") no-repeat;
    height: 480px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title {
        font-size: 3.5rem;
        max-width: 41rem;
        margin-bottom: 1.5rem;
    }

    p {
        color: rgba($text, 0.7);
        font-size: 1.125rem;
    }

    .btn {
        align-self: flex-start;
        margin-top: auto;
    }
}
