#faq {
    .faq {
        background: #fff;
        border-bottom: 1px solid $border;

        .question {
            position: relative;
            font-weight: 700;
            cursor: pointer;
            @include media-breakpoint('xl') {
                line-height: 1.5rem;
                font-size: 0.875rem;
            }


            .icon-arr-down {
                @include center-y;
                width: 0.75rem;
                height: 0.438rem;
                right: 2rem;
                transition: $transition;
                @include media-breakpoint('xl') {
                    right: 1rem;
                }
            }

            &.active {
                .icon-arr-down {
                    transform: rotate(180deg);
                }
            }
        }

        .answer {
            display: none;
            padding-top: 0;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
