#footer {
    border-top: 1px solid $border;

    .general-contacts {
        padding: 2rem 0;
        margin-bottom: 2rem;
        border-bottom: 1px solid $border;
        @include media-breakpoint('lg') {
            padding-bottom: 0.25rem;
        }

        ul {
            @extend %flex-inline;
            @include media-breakpoint('xl') {
                flex-wrap: wrap;
            }

            li {
                position: relative;
                padding-left: 3.5rem;
                @include media-breakpoint('lg') {
                    width: 50%;
                    margin-bottom: 1.5rem;
                }
                @include media-breakpoint('md') {
                    width: 100%;
                }

                svg {
                    @include center-y;
                    left: 0;
                    width: 2.5rem;
                    height: 2.5rem;
                    fill: $violet;
                }

                dl {
                    dt {
                        font-size: 0.875rem;
                        margin-bottom: 0.25rem;
                    }

                    dd {
                        font-size: 1rem;
                        font-weight: bold;

                        a {
                            &:hover {
                                color: $violet;
                            }
                        }
                    }
                }
            }
        }
    }

    [class*=col] {
        @include media-breakpoint('md') {
            margin-bottom: 1rem;

            &:last-child {
                margin: 0;
            }
        }
        ul {
            li {
                margin-bottom: 1.25rem;

                a {
                    font-weight: bold;
                }

                &:hover, &.active {
                    a {
                        color: $violet;
                    }
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .copyright {
        @extend %flex-inline;
        border-top: 1px solid $border;
        margin-top: 2rem;
        padding: 1.5rem 0;
        @include media-breakpoint('md') {
            flex-wrap: wrap;
        }

        p {
            font-size: 0.875rem;
            color: rgba($text, 0.7);
            @include media-breakpoint('xl') {
                max-width: 30%;
            }

            @include media-breakpoint('md') {
                order: 1;
                line-height: 1.5rem;
                max-width: initial;
            }
        }

        ul {
            display: flex;
            align-items: center;
            @include media-breakpoint('md') {
                order: 0;
                display: block;
            }

            li {
                margin-left: 2.5rem;
                @include media-breakpoint('md') {
                    margin: 0 0 1rem 0;
                }

                a {
                    font-size: 0.875rem;
                    color: rgba($text, 0.7);
                }
                &:hover, &.active {
                    a {
                        color: $text;
                    }
                }
            }
        }
    }
}
