.icon-arr-down {
    width: 0.5rem;
    height: 0.313rem;
    fill: $violet;
}

.icon-arr-right {
    width: 0.313rem;
    height: 0.5rem;
    fill: $violet
}

.icon-search {
    width: 1.125rem;
    height: 1.125rem;
    fill: $violet;
}

.icon-arr-prev, .icon-arr-next {
    width: 1rem;
    height: 0.625rem;
    fill: $violet;
}
