.fancybox-bg {
    background-color: rgba(31, 31, 31, 0.5);
}

.modal {
    width: 20rem;
    background-color: #ffffff;
    padding: 1.5rem;
    display: none;

    &#policy {
        width: 47rem;
    }
}
