.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.pd-1 {
    padding: 1rem;
}

.pd-15 {
    padding: 1.5rem;
}

.pd-2 {
    padding: 1.5rem;
}

.pd-3 {
    padding: 3rem;
}

.pt-25 {
    padding-top: 2.5rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-15 {
    margin-bottom: 1.5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.bg-violet-light {
    background: #f6f6fa;
}

.bg-white {
    background: #fff;
}

.w-100 {
    width: 100%;
}

.max-962 {
    max-width: 962px;
}
