.products {

    #sort {
        background: #fff;
        padding: 1rem 1.5rem;
        @include media-breakpoint('xl') {
            background: none;
            padding: 0;
        }
    }

    .product {
        background: #fff;
        border-bottom: 1px solid $border;

        .line {
            border-right: 1px solid $border;
            border-bottom: 0;
        }

        figure {
            width: 100%;
            margin-bottom: 1.25rem;
            font-size: 0;

            img {
                width: 100%;
            }
        }

        .rating {
            justify-content: center;
            margin-bottom: 1rem;

            @include media-breakpoint('md') {
                justify-content: flex-start;
            }
        }

        .btn {
            line-height: 3rem;
            margin-bottom: 0.5rem;
            width: 100%;

            &:last-child {
                margin: 0;
            }
        }

        .title {
            margin-bottom: 0.5rem;
        }

        .product-bank {
            margin-bottom: 1rem;
        }

        .product-options {
            [class*=col] {
                margin-bottom: 1rem;

                dl {
                    line-height: 1.5rem;

                    dt {
                        font-size: 0.875rem;
                        color: rgba(31, 31, 31, 0.7);
                    }
                }
            }
        }

        .article {
            p, ul, ol, blockquote {
                margin-bottom: 1rem;

                &:last-child {
                    margin: 0;
                }
            }
        }

        .btn-toggle-text {
            display: flex;
            align-items: center;
            @include media-breakpoint('md') {
                margin-bottom: 1rem;
            }

            span {
                margin-right: 0.5rem;
                color: $violet;
                font-size: 1rem;
                font-weight: 700;
            }

            svg {
                transition: $transition;
            }

            &.active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
