.quick-search-form {
    position: relative;
    flex: auto;
    @include media-breakpoint('xl') {
        border-top: 1px solid $border;
    }

    input {
        width: 100%;
        height: 3.5rem;
        background: #fff;
        border: none;
        border-left: 1px solid $border;
        padding-left: 3.5rem;
        font-size: 1rem;
    }

    [type=submit] {
        @include center-y;
        left: 1.25rem;
    }

    [type=button] {
        @include center-y;
        right: 0;
        display: none;
    }


    .search-results {
        width: 100%;
        right: 0;
        left: 0;

        .search-item {
            cursor: default;
        }
    }

}
