.search-form {
    position: relative;
    flex: auto;

    input {
        width: 100%;
        height: 4.5rem;
        background-color: $border;
        border: none;
        padding-left: 1.5rem;
        font-size: 1rem;
        @include media-breakpoint('md') {
            height: 3.5rem;
        }
    }

    [type=submit] {
        @include center-y;
        right: 1.25rem;
    }

}
