#sort {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    @include media-breakpoint('xl') {
        flex-wrap: wrap;
        padding-top: 1rem;
        padding-left: 0;
    }

    .sort-item {
        position: relative;
        margin-right: 3rem;
        @include media-breakpoint('xl') {
            padding-left: 1rem;
            margin: 0 0 1rem 0;
            width: 100%;
            font-size: 0.875rem;
        }

        .sort-item-name {
            opacity: 0.7;
        }

        .btn-drop-toggle {
            font-size: 1rem;
            @include media-breakpoint('xl') {
                font-size: 0.875rem;
            }
        }

        .drop-list {
            top: calc(100% + 0.5rem);
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .btn-anchor {
        margin-left: auto;

        @include media-breakpoint('xl') {
            width: 100%;
            margin-left: 0;
        }
    }

    .quick-search-form {
        input {
            border-left: 0;
            height: 3rem;
            border-top: 1px solid $border;
        }
    }
}
