.stars {
    display: flex;

    svg {
        width: 1rem;
        height: 1rem;
        margin-right: 0.25rem;

        &.icon-star {
            fill: rgba(75, 40, 158, 0.1);
        }

        &:last-child {
            margin: 0;
        }
    }

    &.clickable {
        justify-content: flex-end;
        @include media-breakpoint('md') {
            justify-content: flex-start;
        }
        svg {
            cursor: pointer;
        }
    }
    @for $j from 1 through 5 {
        &[data-rating="#{$j}"] {
            @for $i from 1 through $j {
                svg {
                    &:nth-child(#{$i}) {
                        fill: $violet;
                    }
                }
            }
        }
    }

}
