#stats {
    padding: 2.5rem 0;

    .col {
        display: flex;
        @include media-breakpoint('md') {
           flex: auto;
            margin-bottom: 1rem;

            &:last-child {
                margin: 0;
            }
        }
    }
    .stat-item {
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        flex: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        text-align: center;
        @include media-breakpoint('xl') {
            padding: 1rem;
        }
        @include media-breakpoint('md') {
            padding: 1.5rem;
        }

        .icon {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: $border;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.5rem;

            svg {
                width: 2.5rem;
                height: 2.5rem;
                fill: $violet;
            }
        }

        b {
            line-height: 1;
            font-size: 3rem;
            font-weight: 700;
        }
        p {
            margin-top: 0.5rem;
            font-size: 0.875rem;
            color: rgba($text, 0.7);
        }
    }
}
