<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>DSGN</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div id="page">
    {% include 'header.html' %}
    <main id="main" class="pb-4">
        <div class="bg-violet-light pb-4 mb-4">
            <div id="filter">
                <div class="container relative">
                    <div class="breadcrumbs mb-1">
                        <a href="#">Главная</a>
                        <i class="icon-sep"></i>
                        Статьи
                    </div>
                    <h1 class="filter-title">Поможем найти лучшую
                        кредитную карту</h1>
                    <div class="article mb-15">
                        <ul class="v-2">
                            <li>Микрозайм под 0 процентов предоставляют свыше 30 МФО, имеющих положительную оценку
                                заемщиков
                            </li>
                            <li>Удобный подбор кредитного <a href="#">продукта</a> по нужным условиям</li>
                            <li>Микрозайм под 0 процентов предоставляют свыше 30 МФО, имеющих положительную оценку
                                заемщиков
                            </li>
                        </ul>
                    </div>
                    <form id="filter-form" class="filter-form" action="">
                        <div class="filter-select">
                            <button type="button" class="btn-drop-toggle">
                                <span>Кредитный лимит</span>
                                <b class="selected-value">48 000 ₽</b>
                                <svg class="icon-pencil">
                                    <use xlink:href="img/symbol/sprite.svg#icon-pencil"></use>
                                </svg>
                            </button>
                            <div class="drop-list">
                                <label class="form-field">
                                    <input type="text" name="limit">
                                </label>
                            </div>
                        </div>
                        <div class="filter-select multiselect">
                            <button type="button" class="btn-drop-toggle">
                                <span>Льготный период</span>
                                <b class="selected-value">Любой</b>
                                <svg class="icon-arr-down">
                                    <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                                </svg>
                            </button>
                            <ul class="ul-reset drop-list">
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value="50">
                                        <span>50 дней</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value="90">
                                        <span>90 дней</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="checkbox" value="100">
                                        <span>100 дней</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="filter-select">
                            <button type="button" class="btn-drop-toggle">
                                <span>Банк</span>
                                <b class="selected-value">Любой</b>
                                <svg class="icon-arr-down">
                                    <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                                </svg>
                            </button>
                            <ul class="ul-reset drop-list">
                                <li>
                                    <label class="checkbox">
                                        <input type="radio" name="bank" value="50">
                                        <span>50 дней</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="radio" name="bank" value="90">
                                        <span>90 дней</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="radio" name="bank" value="100">
                                        <span>100 дней</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="filter-select">
                            <button type="button" class="btn-drop-toggle">
                                <span>Доставка</span>
                                <b class="selected-value">Не важно</b>
                                <svg class="icon-arr-down">
                                    <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                                </svg>
                            </button>
                            <ul class="ul-reset drop-list">
                                <li>
                                    <label class="checkbox">
                                        <input type="radio" name="bank" value="50">
                                        <span>50 дней</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="radio" name="bank" value="90">
                                        <span>90 дней</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="radio" name="bank" value="100">
                                        <span>100 дней</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="filter-select no-border">
                            <button type="button" class="btn-drop-toggle">
                                <span>Еще условия</span>
                                <b class="selected-value">Выберите</b>
                                <svg class="icon-arr-down">
                                    <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                                </svg>
                            </button>
                            <ul class="ul-reset drop-list">
                                <li>
                                    <label class="checkbox">
                                        <input type="radio" name="bank" value="50">
                                        <span>50 дней</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="radio" name="bank" value="90">
                                        <span>90 дней</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox">
                                        <input type="radio" name="bank" value="100">
                                        <span>100 дней</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <button type="submit" class="btn btn-violet"> Подобрать</button>
                    </form>
                </div>
            </div>
            <div class="products container mb-4">
                <div id="sort" class="line">
                    <div class="sort-item">
                        <span class="sort-item-name">Сортировать</span>
                        <button type="button" class="btn-drop-toggle">
                            <span>по категориям</span>
                            <svg class="icon-arr-down">
                                <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                            </svg>
                        </button>
                        <ul class="ul-reset drop-list">
                            <li><a href="#">Сначала полезные</a></li>
                            <li><a href="#">Новые</a></li>
                            <li><a href="#">Проверенные</a></li>
                        </ul>
                    </div>
                </div>
                {% for i in range(0, 5) %}
                    {% include 'product.html' %}
                {% endfor %}
                {% include 'nav-links.html' %}
            </div>
            <div id="review-cards" class="container mb-4">
                <div class="title h1">Последние отзывы</div>
                <div class="desc mb-15">
                    <p>Посмотрите предложения по кредитным картам от ведущих российских банков</p>
                </div>
                {% include 'review-cards.html' %}
                <a href="#" class="btn btn-white w-100">
                    <span>Все отзывы</span>
                    <svg class="icon-arr-right">
                        <use xlink:href="img/symbol/sprite.svg#icon-arr-right"></use>
                    </svg>
                </a>
            </div>
            <div id="faq" class="container mb-4">
                <div class="title h1">Вопрос-ответ</div>
                {% for i in range(0, 5) %}
                    <div class="faq">
                        <div class="question pd-15">
                            Почему кредитный рейтинг падает, хотя исправно оплачиваю кредиты?
                            <svg class="icon-arr-down">
                                <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                            </svg>
                        </div>
                        <div class="answer article pd-15">
                            <p>Для оказания качественного сервиса <a href="#">финансовые организации</a> предлагают
                                дистанционное обслуживание - онлайн-банкинг. С помощью данной услуги можно
                                контролировать
                                свои счета и карты в банке, а также оплачивать товары и услуги через личный кабинет на
                                сайте
                                или через мобильное приложение.</p>
                            <p>Платежи и переводы на счета происходят моментально. Когда случаются задержки при
                                проведении
                                транзакции - бывает редко. Для того, чтобы подключить личный кабинет достаточно
                                обратиться в
                                офис своей финансовой организации. У многих компаний подключить онлайн-банкинг можно
                                дистанционно в режиме онлайн - достаточно иметь карты банка или счет в банке.</p>
                            <p>Если у вас возникли трудности при подключении услуги Личного кабинета, то вы можете
                                обратиться в офис банка и консультанты банка вам помогут подключить услугу.
                            <p>Вход в личный кабинет банка осуществляется с помощью ввода логина и пароля, который вы
                                получили в финансовой организации. Также в момент входа в личный кабинет банка
                                необходимо
                                при себе иметь мобильный телефон - на него придет одноразовый код подтверждения входа в
                                систему онлайн-банк: это сделано в целях защиты ваших финансовых активов.
                            <p>Пользоваться онлайн-банком очень удобно: можно, например, настроить функцию автоплатежей
                                -
                                при этом не нужно будет в дальнейшем заходить в онлайн-банк для оплаты.</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div id="cats" class="container bg-white v-2">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <a href="#" class="cat pd-15">
                            <figure>
                                <img src="img/icon-c-1.svg" alt="">
                            </figure>
                            <span class="cat-name">Лучшие</span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="cat pd-15">
                            <figure>
                                <img src="img/icon-c-2.svg" alt="">
                            </figure>
                            <span class="cat-name">Без процентов</span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="cat pd-15">
                            <figure>
                                <img src="img/icon-c-3.svg" alt="">
                            </figure>
                            <span class="cat-name">В день обращения</span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="cat pd-15">
                            <figure>
                                <img src="img/icon-c-4.svg" alt="">
                            </figure>
                            <span class="cat-name">Без отказа</span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="cat pd-15">
                            <figure>
                                <img src="img/icon-c-5.svg" alt="">
                            </figure>
                            <span class="cat-name">С плохой кредитной историей</span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="cat pd-15">
                            <figure>
                                <img src="img/icon-c-6.svg" alt="">
                            </figure>
                            <span class="cat-name">Без справок</span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="cat pd-15">
                            <figure>
                                <img src="img/icon-c-7.svg" alt="">
                            </figure>
                            <span class="cat-name">С льготным периодом</span>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="cat pd-15">
                            <figure>
                                <img src="img/icon-c-8.svg" alt="">
                            </figure>
                            <span class="cat-name">С кэшбэком</span>
                        </a>
                    </div>
                </div>
                <div class="cat-lists pd-15">
                    <div class="title h3">Все категории кредитных карт</div>
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="ul-reset">
                                <li class="parent"><a href="#">Клиентам</a></li>
                                <li><a href="#">С 18 лет</a></li>
                                <li><a href="#">С 19 лет</a></li>
                                <li><a href="#">С 20 лет</a></li>
                                <li><a href="#">С 18 лет</a></li>
                                <li><a href="#">С 19 лет</a></li>
                                <li><a href="#">С 20 лет</a></li>
                                <li><a href="#">С 18 лет</a></li>
                                <li><a href="#">С 19 лет</a></li>
                                <li><a href="#">С 20 лет</a></li>
                                <li><a href="#">С 18 лет</a></li>
                                <li><a href="#">С 19 лет</a></li>
                                <li><a href="#">С 20 лет</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="ul-reset">
                                <li class="parent"><a href="#">Тип</a></li>
                                <li><a href="#">Visa</a></li>
                                <li><a href="#">MasterCard</a></li>
                                <li><a href="#">Visa</a></li>
                                <li><a href="#">MasterCard</a></li>
                                <li><a href="#">Visa</a></li>
                                <li><a href="#">MasterCard</a></li>
                                <li><a href="#">Visa</a></li>
                                <li><a href="#">MasterCard</a></li>
                                <li><a href="#">Visa</a></li>
                                <li><a href="#">MasterCard</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="ul-reset">
                                <li class="parent"><a href="#">Получение</a></li>
                                <li><a href="#">За 5 минут</a></li>
                                <li><a href="#">За 15 минут</a></li>
                                <li><a href="#">С доставкой на дом</a></li>
                                <li><a href="#">За 5 минут</a></li>
                                <li><a href="#">За 15 минут</a></li>
                                <li><a href="#">С доставкой на дом</a></li>
                                <li><a href="#">За 5 минут</a></li>
                                <li><a href="#">За 15 минут</a></li>
                                <li><a href="#">С доставкой на дом</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <ul class="ul-reset">
                                <li class="parent"><a href="#">Льготный период</a></li>
                                <li><a href="#">На 50 дней</a></li>
                                <li><a href="#">На 90 дней</a></li>
                                <li><a href="#">На 100 дней</a></li>
                                <li><a href="#">На 120 дней</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-white w-100 btn-cat-lists">
                    <span>Все продукты</span>
                    <svg class="icon-arr-down">
                        <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="article container">
            <h1 class="title h2">ВсеКредитныеКарты — помогаем в подборе кредита</h1>
            <p>Одна из основных задач портала ВсеКредитныеКарты — персональный подбор кредитного продукта для
                конкретного человека. Мы сделали все возможное, чтобы каждый смог сделать лучший выбор:</p>
            <ul>
                <li>Проанализировали кредитные предложения всех банков страны, разместили лучшие из них на страницах
                    сайта;
                </li>
                <li>Каждое предложение сопровождается подробным описанием: что нужно для получения кредита, требования к
                    заемщикам, документам;
                </li>
                <li>Проанализировали кредитные предложения всех банков страны, разместили лучшие из них на страницах
                    сайта;
                </li>
                <li>Каждое предложение сопровождается подробным описанием: что нужно для получения кредита, требования к
                    заемщикам, документам;
                </li>
            </ul>
            <p>Основная задача — сделать так, чтобы посетитель сайта нашел всю необходимую ему информацию на страницах
                ВсеКредитныеКарты. Чтобы он смог выбрать оптимальный для себя финансовый продукт и сразу обратился
                онлайн за его предоставлением.</p>
        </div>
    </main>
    {% include 'footer.html' %}
</div>
{% include 'modals.html' %}
{% include 'scripts.html' %}
</body>
</html>

