<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>DSGN</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div id="page">
    {% include 'header.html' %}
    <main id="main">
        <div id="card" class="container pb-4 pt-25">
            <div class="breadcrumbs mb-1">
                <a href="#">Главная</a>
                <i class="icon-sep"></i>
                Статьи
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <figure class="visible-md">
                        <img src="img/img-card-3.jpg" alt="">
                    </figure>
                    <h1 class="title h1">Тинькофф Платинум</h1>
                    <div class="card-bank">Тинькофф Банк</div>
                    <div class="rating">
                        <div class="stars" data-rating="3">
                            {% include 'stars.html' %}
                        </div>
                        <a href="#">4 отзыва</a>
                    </div>
                    <div class="card-options">
                        <div class="row">
                            <div class="col-md-4">
                                <dl>
                                    <dt>
                                        Кредитный лимит
                                        <div class="hint">
                                            <i class="icon-hint">?</i>
                                            <div class="hint-text">
                                                Льготный период по уплате процентов, который
                                                распространяется на все операции покупок.
                                            </div>
                                        </div>
                                    </dt>
                                    <dd>до <b>100 000</b> руб.</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl>
                                    <dt>
                                        Льготный период
                                    </dt>
                                    <dd>до <b>120</b> дней</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl>
                                    <dt>
                                        Процентная ставка
                                    </dt>
                                    <dd>от <b>12%</b></dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl>
                                    <dt>
                                        Доставка
                                    </dt>
                                    <dd>до <b>5</b> дней</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl>
                                    <dt>
                                        Рассмотрение
                                    </dt>
                                    <dd>до <b>30</b> минут</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl>
                                    <dt>
                                        Подтверждение дохода
                                    </dt>
                                    <dd><b>Требуется</b></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-more">
                        <span>Подробные условия</span>
                        <svg class="icon-arr-down">
                            <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                        </svg>
                    </button>
                </div>
                <div class="col-lg-3">
                    <figure class="hidden-md">
                        <img src="img/img-card-3.jpg" alt="">
                    </figure>
                    <div class="mb-15 input-with-slider">
                        <label class="form-field">
                            <span class="label">Желаемый лимит</span>
                            <input type="text" name="limit" value="48 000">
                        </label>
                        <div class="input-slider" data-min="1000" data-max="100000" data-value="20000" data-join="₽"></div>
                    </div>
                    <a href="#" class="btn btn-violet btn-small w-100">Оформить карту</a>
                </div>
            </div>

        </div>
        <div class="bg-violet-light pb-25 pt-25">
            <div class="calc container pd-15 bg-white" data-percent="36">
                <div class="title h2">Калькулятор платежей по кредитной карте</div>
                <div class="row">
                    <div class="col-lg-6 mb-15">
                        <div class="input-with-slider no-select">
                            <label class="form-field">
                                <span class="label">Сумма кредита</span>
                                <input type="text" name="credit_limit" value="48 000">
                            </label>
                            <div class="input-slider slider-sum" data-min="1000" data-max="100000"
                                 data-value="20000" data-join="₽"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-15">
                        <div class="input-with-slider no-select">
                            <label class="form-field">
                                <span class="label">Срок займа</span>
                                <input type="text" name="spending_per_month" value="Пока незнаю">
                            </label>
                            <div class="input-slider slider-months" data-min="1" data-max="12" data-value="2" data-step="1" data-join="месяц"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-15">
                        <div class="calc-detail">
                            <dl>
                                <dt>Сумма погашения</dt>
                                <dd><span class="repayment"></span></dd>
                            </dl>
                            <dl>
                                <dt>Платеж в месяц</dt>
                                <dd><span class="month-payment"></span></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="calc-detail mb-15">
                            <dl>
                                <dt>Погашение</dt>
                                <dd><span class="repayment-date"></span></dd>
                            </dl>
                            <dl>
                                <dt>Переплата</dt>
                                <dd><span class="overpayment"></span></dd>
                            </dl>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mb-05-md">
                                <button type="button" class="btn btn-violet-light w-100 btn-schedule">График платежей</button>
                            </div>
                            <div class="col-lg-6">
                                <a href="#" class="btn btn-violet w-100">Оформить карту</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment-schedule">
                    <div class="title h2">График платежей</div>
                    <div class="table">
                        <table>
                            <thead>
                            <tr>
                                <th>№, месяц</th>
                                <th>Сумма платежа</th>
                                <th>Проценты + долг</th>
                                <th>Остаток долга</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1. 13.07.2020</td>
                                <td>14 000</td>
                                <td>1 500 + 12 500</td>
                                <td>137 500</td>
                            </tr>
                            <tr>
                                <td>1. 13.07.2020</td>
                                <td>14 000</td>
                                <td>1 500 + 12 500</td>
                                <td>137 500</td>
                            </tr>
                            <tr>
                                <td>1. 13.07.2020</td>
                                <td>14 000</td>
                                <td>1 500 + 12 500</td>
                                <td>137 500</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="card-details" class="container mb-4 pt-25">
            <div class="endpoint-names">
                <ul class="ul-reset">
                    <li class="active"><a href="#endpoint-1" class="btn-anchor">О карте</a></li>
                    <li><a href="#endpoint-2" class="btn-anchor">Тарифы</a></li>
                    <li><a href="#endpoint-3" class="btn-anchor">Требования</a></li>
                    <li><a href="#endpoint-4" class="btn-anchor">Вопрос-ответ</a></li>
                    <li><a href="#endpoint-5" class="btn-anchor">Отзывы</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="article mb-2">
                        <h2>Лучшая кредитная карта в Тинькофф Банке</h2>
                        <p>CreditPlus – <span>сервис быстрого онлайн-кредитования</span>, один из трех ведущих в России по
                            скорости и объемам кредитования. Все оформление происходит через интернет, а деньги
                            можно получить в любой точке мира, где есть доступ к нему. Быстрая обработка заявок
                            позволяет максимально сократить время до того момента, как средства окажутся в руках
                            клиента.</p>
                        <p><b>Важно: Представитель Тинькофф Банка будет в маске и перчатках при передаче карты вам в руки.
                                Безопасная и бесплатная доставка, минимальный контакт с сотрудником.</b></p>
                        <blockquote>
                            Важно! Как правило, вышеуказанных документов бывает достаточно. Если есть необходимость, банк может затребовать дополнительные справки.
                        </blockquote>
                        <blockquote class="v-2">
                            Важно! Как правило, вышеуказанных документов бывает достаточно. Если есть необходимость, банк может затребовать дополнительные справки.
                        </blockquote>
                    </div>
                    <div class="advantages-disadvantages mb-15">
                        <div class="row no-gutters">
                            <div class="col">
                                <div class="title h5">Преимущества</div>
                                <ul class="ul-reset">
                                    <li>Первый займ без процентов</li>
                                    <li>Большие лимиты одобрения для первого займа</li>
                                    <li>Нет навязанной страховки и скрытых процентов</li>
                                    <li>Большие лимиты (до 80000 рублей) для
                                        постоянных клиентов
                                    </li>
                                    <li>Первый займ без процентов</li>
                                </ul>
                            </div>
                            <div class="col">
                                <div class="title h5">Недостатки</div>
                                <ul class="ul-reset v-2">
                                    <li>Задержка оплаты займа (до 8-10 часов)</li>
                                    <li>Нельзя получить займ на электронные кошельки</li>
                                    <li>Часто "забывают" обновить данные по займу в
                                        Бюро Кредитных Историй
                                    </li>
                                    <li>Частые проблемы с техподдержкой</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="endpoint article" id="endpoint-1">
                        <div class="title h2">Бесплатная кредитная карта</div>
                        <p>CreditPlus предлагает на выбор несколько вариантов займов. Новые клиенты могут получить
                            <span>от 1500 до 15000</span> руб. на срок от 5 до 15 дней под 0%. Второй и последующие
                            займы предоставляются согласно установленным тарифам:</p>
                        <div class="table">
                            <table>
                                <tbody>
                                {% for i in range(0, 10) %}
                                    <tr>
                                        <td>Платежная система</td>
                                        <td>MasterCard
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <blockquote>
                            Важным преимуществом CreditPlus является предоставление постоянным клиентам долгосрочных
                            займов на срок от 10 до 18 недель с выплатами каждые две недели. Это тарифы “Турбо” и
                            “Супертурбо”, по которым сумма микрокредита составит до 80 тыс. руб., а процентная
                            ставка снизится до 0,8% в день.
                        </blockquote>
                        <p>В MoneyMan существует программа лояльности. Ее суть заключается в том, чтобы копить и
                            тратить бонусные баллы. Своевременный возврат средств, рекомендации знакомым и отзывы в
                            соцсетях поощряются бонусными баллами.</p>
                        <div class="wp-caption aligncenter">
                            <img src="img/img-article.jpg" alt="">
                            <div class="wp-caption-text">
                                Программа лояльности в Moneyman – накопленные баллы и самые выгодные тарифы.
                            </div>
                        </div>
                        <p>Баллами можно погашать проценты по займу, оплачивать процедуру пролонгации. Чем больше
                            баллов накопит заёмщик, тем быстрее он получит следующий уровень лояльности (тариф).
                            Потратить баллы на погашение процентов можно в следующей пропорции: 100 баллов = 1
                            рубль. Как только заёмщик тратит баллы, он утрачивает возможность перейти на следующий
                            тариф.</p>
                    </div>
                    <div class="endpoint article" id="endpoint-2">
                        <div class="title h2">Требования к заемщикам</div>
                        <ul>
                            <li>Гражданство Российской Федерации</li>
                            <li>Гражданство Российской Федерации</li>
                            <li>Гражданство Российской Федерации</li>
                            <li>Гражданство Российской Федерации</li>
                        </ul>
                        <p>Также для получения займа в Манимен понадобятся действительный паспорт РФ, СНИЛС (карта
                            пенсионного страхования), мобильный телефон и адрес электронной почты. Если клиент хочет
                            получить микрокредит безналично – то банковская карта (VISA или MasterCard) любого банка
                            России или реквизиты банковского счета.</p>
                    </div>
                    <div class="endpoint article" id="endpoint-3">
                        <div class="title h2">Оформление заявки в CreditPlus – 5 минут</div>
                        <ul>
                            <li>Гражданство Российской Федерации</li>
                            <li>Гражданство Российской Федерации</li>
                            <li>Гражданство Российской Федерации</li>
                            <li>Гражданство Российской Федерации</li>
                        </ul>
                        <p>Также для получения займа в Манимен понадобятся действительный паспорт РФ, СНИЛС (карта
                            пенсионного страхования), мобильный телефон и адрес электронной почты. Если клиент хочет
                            получить микрокредит безналично – то банковская карта (VISA или MasterCard) любого банка
                            России или реквизиты банковского счета.</p>
                    </div>
                    <div class="endpoint article">
                        <div class="title h2">Шансы на одобрение заявки в CreditPlus – 81%</div>
                        <p>Как и в любой другой организации, в CreditPlus возможны отказы. Они обусловлены чаще
                            всего ложной информацией, которую предоставляет заемщик. Также отказывают из-за
                            механических ошибок при введении данных. Еще одним препятствием на пути к получению
                            микрокредита станет непогашенная задолженность перед банком или другой МФК/МФО. В
                            CreditPlus нельзя взять новый займ, не погасив предыдущий.</p>
                    </div>
                    <div class="endpoint article">
                        <div class="title h2">Лучшая кредитная карта</div>
                        <div class="products">
                            <div class="product">
                                <div class="row no-gutters">
                                    <div class="col-md-4 line">
                                        <div class="pd-15 hidden-md">
                                            <figure>
                                                <img src="img/img-card.jpg" alt="">
                                            </figure>
                                            <div class="rating">
                                                <div class="stars" data-rating="3">
                                                    {% include 'stars.html' %}
                                                </div>
                                                <a href="#">4 отзыва</a>
                                            </div>
                                            <a href="#" class="btn btn-violet-light">Подробнее</a>
                                            <a href="#" class="btn btn-violet">Оформить карту</a>
                                        </div>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="pd-15">
                                            <div class="title h3">Виртуальная карта Квику</div>
                                            <div class="product-bank">
                                                Kviku Online Bank
                                            </div>
                                            <div class="visible-md">
                                                <div class="rating">
                                                    <div class="stars" data-rating="3">
                                                        {% include 'stars.html' %}
                                                    </div>
                                                    <a href="#">4 отзыва</a>
                                                </div>
                                                <figure>
                                                    <img src="img/img-card.jpg" alt="">
                                                </figure>
                                            </div>

                                            <div class="product-options">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <dl>
                                                            <dt>
                                                                Кредитный лимит
                                                                <div class="hint">
                                                                    <i class="icon-hint">?</i>
                                                                    <div class="hint-text">
                                                                        Льготный период по уплате процентов, который
                                                                        распространяется на все операции покупок.
                                                                    </div>
                                                                </div>
                                                            </dt>
                                                            <dd>до <b>100 000</b> руб.</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <dl>
                                                            <dt>
                                                                Льготный период
                                                            </dt>
                                                            <dd>до <b>120</b> дней</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <dl>
                                                            <dt>
                                                                Процентная ставка
                                                            </dt>
                                                            <dd>от <b>12%</b></dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-md-6 hidden-md">
                                                        <dl>
                                                            <dt>
                                                                Стоимость
                                                            </dt>
                                                            <dd><b>0</b> руб./год</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-md-6 hidden-md">
                                                        <dl>
                                                            <dt>
                                                                Доставка
                                                            </dt>
                                                            <dd>до <b>5</b> дней</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-md-6 hidden-md">
                                                        <dl>
                                                            <dt>
                                                                Рассмотрение
                                                            </dt>
                                                            <dd>до <b>30</b> минут</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="visible-md">
                                                <a href="#" class="btn btn-violet-light">Подробнее</a>
                                                <a href="#" class="btn btn-violet">Оформить карту</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="endpoint article" id="endpoint-4">
                        <div class="title h2">Способы получения займа</div>
                        <ul>
                            <li>Гражданство Российской Федерации</li>
                            <li>Гражданство Российской Федерации</li>
                            <li>Гражданство Российской Федерации</li>
                            <li>Гражданство Российской Федерации</li>
                        </ul>
                    </div>
                    <div class="endpoint">
                        <div class="title h2">Скачать мобильные приложения</div>
                        <div class="apps">
                            <a href="#" class="btn btn-violet-light" rel="nofollow" target="_blank">
                                <svg class="icon-ios">
                                    <use xlink:href="img/symbol/sprite.svg#icon-ios"></use>
                                </svg>
                                <span>IOS</span>
                            </a>
                            <a href="#" class="btn btn-violet-light" rel="nofollow" target="_blank">
                                <svg class="icon-android">
                                    <use xlink:href="img/symbol/sprite.svg#icon-android"></use>
                                </svg>
                                <span>Android</span>
                            </a>
                            <a href="#" class="btn btn-violet-light" rel="nofollow" target="_blank">
                                <svg class="icon-windows">
                                    <use xlink:href="img/symbol/sprite.svg#icon-windows"></use>
                                </svg>
                                <span>WindowsPhone</span>
                            </a>
                        </div>
                    </div>
                    <div class="endpoint article">
                        <div class="title h2">Кредитные карты с такими же условиями</div>
                        <div class="tags">
                            <a href="#">10000 рублей</a>
                            <a href="#">15000 рублей</a>
                            <a href="#">30000 рублей</a>
                            <a href="#">10000 рублей</a>
                            <a href="#">15000 рублей</a>
                            <a href="#">30000 рублей</a>
                            <a href="#">10000 рублей</a>
                            <a href="#">15000 рублей</a>
                            <a href="#">30000 рублей</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 hidden-md">
                    <div class="sticky">
                        <div class="products-v">
                            <div class="product pd-15 bg-violet-light">
                                <figure>
                                    <img src="img/img-card.jpg" alt="">
                                </figure>
                                <div class="rating">
                                    <div class="stars" data-rating="3">
                                        {% include 'stars.html' %}
                                    </div>
                                    <a href="#">4 отзыва</a>
                                </div>
                                <div class="product-options">
                                    <dl>
                                        <dt>
                                            Кредитный лимит
                                            <div class="hint">
                                                <i class="icon-hint">?</i>
                                                <div class="hint-text">
                                                    Льготный период по уплате процентов, который
                                                    распространяется на все операции покупок.
                                                </div>
                                            </div>
                                        </dt>
                                        <dd>до <b>100 000</b> руб.</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            Льготный период
                                        </dt>
                                        <dd>до <b>120</b> дней</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            Процентная ставка
                                        </dt>
                                        <dd>от <b>12%</b></dd>
                                    </dl>
                                </div>
                                <a href="#" class="btn btn-violet w-100">Оформить карту</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-violet-light pt-4 pb-4">
            <div class="products-v container mb-4">
                <div class="title h1">Похожие карты</div>
                <div class="slider-products">
                    {% for i in range(0, 10) %}
                        <div>
                            <div class="product pd-15 bg-white">
                                <a href="#" class="product-title">Виртуальная карта Квику</a>
                                <div class="product-bank">
                                    Kviku Online Bank
                                </div>
                                <div class="rating">
                                    <div class="stars" data-rating="3">
                                        {% include 'stars.html' %}
                                    </div>
                                    <a href="#">4 отзыва</a>
                                </div>
                                <figure>
                                    <img src="img/img-card.jpg" alt="">
                                </figure>
                                <div class="product-options">
                                    <dl>
                                        <dt>
                                            Кредитный лимит
                                            <div class="hint">
                                                <i class="icon-hint">?</i>
                                                <div class="hint-text">
                                                    Льготный период по уплате процентов, который
                                                    распространяется на все операции покупок.
                                                </div>
                                            </div>
                                        </dt>
                                        <dd>до <b>100 000</b> руб.</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            Льготный период
                                        </dt>
                                        <dd>до <b>120</b> дней</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            Процентная ставка
                                        </dt>
                                        <dd>от <b>12%</b></dd>
                                    </dl>
                                </div>
                                <a href="#" class="btn btn-violet-light">Подробнее</a>
                                <a href="#" class="btn btn-violet">Оформить карту</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div id="faq" class="container mb-4">
                <div class="title h1">Вопрос-ответ</div>
                {% for i in range(0, 5) %}
                    <div class="faq">
                        <div class="question pd-15">
                            Почему кредитный рейтинг падает, хотя исправно оплачиваю кредиты?
                            <svg class="icon-arr-down">
                                <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                            </svg>
                        </div>
                        <div class="answer article pd-15">
                            <p>Для оказания качественного сервиса <a href="#">финансовые организации</a> предлагают
                                дистанционное обслуживание - онлайн-банкинг. С помощью данной услуги можно
                                контролировать
                                свои счета и карты в банке, а также оплачивать товары и услуги через личный кабинет на
                                сайте
                                или через мобильное приложение.</p>
                            <p>Платежи и переводы на счета происходят моментально. Когда случаются задержки при
                                проведении
                                транзакции - бывает редко. Для того, чтобы подключить личный кабинет достаточно
                                обратиться в
                                офис своей финансовой организации. У многих компаний подключить онлайн-банкинг можно
                                дистанционно в режиме онлайн - достаточно иметь карты банка или счет в банке.</p>
                            <p>Если у вас возникли трудности при подключении услуги Личного кабинета, то вы можете
                                обратиться в офис банка и консультанты банка вам помогут подключить услугу.
                            <p>Вход в личный кабинет банка осуществляется с помощью ввода логина и пароля, который вы
                                получили в финансовой организации. Также в момент входа в личный кабинет банка
                                необходимо
                                при себе иметь мобильный телефон - на него придет одноразовый код подтверждения входа в
                                систему онлайн-банк: это сделано в целях защиты ваших финансовых активов.
                            <p>Пользоваться онлайн-банком очень удобно: можно, например, настроить функцию автоплатежей
                                -
                                при этом не нужно будет в дальнейшем заходить в онлайн-банк для оплаты.</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div id="endpoint-5" class="container">
                <div class="title h1">Отзывы <span class="number">6</span></div>
                <div class="row mb-1-lg">
                    <div class="col-lg-9 mb-1-lg mb-4">
                        <div class="reviews-list bg-white ">
                            {% for i in range(0, 5) %}
                                <div class="review pd-15 line">
                                    <div class="review-head">
                                        <div class="review-author">
                                            <b>Иван</b>
                                            <span>16 сентября 2019</span>
                                        </div>
                                        <div class="stars" data-rating="3">
                                            {% include 'stars.html' %}
                                        </div>
                                    </div>
                                    <div class="review-text">
                                        Сотрудники CreditPlus названивают с напоминаем об уже оплаченном займе в 8 утра,
                                        это как вообще?! Не берите здесь займ. Поддержки нормальной нет, только на почту
                                        пиши и не факт, что ответят.
                                        <br>
                                        Система одобрения заявок в Moneyman мне тоже вообще не ясна. Когда не было
                                        займов нигде,
                                        тогда не дали. Когда было еще 3 текущих займа, то Moneyman одобрили.
                                        Не рекомендую!
                                    </div>
                                    <div class="review-text v-2">
                                        <div class="review-text-top">
                                            <i class="icon-plus"></i>
                                            <span>Плюсы</span>
                                        </div>
                                        Система одобрения заявок в Moneyman мне тоже вообще не ясна. Когда не было
                                        займов нигде,
                                        тогда не дали. Когда было еще 3 текущих займа, то Moneyman одобрили.
                                        Не рекомендую!
                                    </div>
                                    <div class="review-text v-2">
                                        <div class="review-text-top">
                                            <i class="icon-minus"></i>
                                            <span>Минусы</span>
                                        </div>
                                        Система одобрения заявок в Moneyman мне тоже вообще не ясна. Когда не было
                                        займов нигде,
                                        тогда не дали. Когда было еще 3 текущих займа, то Moneyman одобрили.
                                        Не рекомендую!
                                    </div>
                                    {% if i == 1 %}
                                        <div class="review-thumbs">
                                            {% for j in range(0, 10) %}
                                                <a href="img/img-thumb.jpg" data-fancybox="gallery"><img
                                                            src="img/img-thumb.jpg"
                                                            alt="" class="rounded object-fit"></a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <div class="likes">
                                        <button class="btn-like">
                                            <svg class="icon-like">
                                                <use xlink:href="img/symbol/sprite.svg#icon-like"></use>
                                            </svg>
                                            <span>0</span>
                                        </button>
                                        <button class="btn-dislike">
                                            <svg class="icon-dislike">
                                                <use xlink:href="img/symbol/sprite.svg#icon-dislike"></use>
                                            </svg>
                                            <span>0</span>
                                        </button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-white pd-15 sticky">
                            <div class="title h3">Другие отзывы</div>
                            <div class="links-list">
                                <ul class="ul-reset">
                                    {% for i in range(0, 5) %}
                                        <li><a href="#">Отзывы о вкладах</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="reviews-add-form bg-white pd-15">
                            <div class="title h1">Добавить отзыв</div>
                            <form action="" id="add-review" class="form">
                                <div class="row mb-1">
                                    <div class="col-md-6 mb-1">
                                        <label class="form-field">
                                            <input type="text" name="name" placeholder="Ваше имя">
                                        </label>
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <label class="form-field">
                                            <input type="email" name="email" placeholder="E-Mail">
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="rating">
                                            <span>Оценка <span>*</span></span>
                                            <div class="stars clickable" data-rating="0">
                                                {% include 'stars.html' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <label class="form-field mb-1">
                                    <textarea name="text" placeholder="Ваш комментарий*"></textarea>
                                </label>
                                <label class="form-field mb-1">
                                    <input type="text" name="advantages" placeholder="Расскажите о преимуществах">
                                </label>
                                <label class="form-field mb-1">
                                    <input type="text" name="disadvantages" placeholder="Расскажите о недостатках"
                                           class="input-error">
                                    <span class="error">
                                        Поле обязательна к  заполнению
                                    </span>
                                </label>
                                <label for="file" class="files-area mb-1">
                                    <span>Нажмите или перетащите для загрузки фотографии</span>
                                    <input type="file" id="file">
                                </label>
                                <div class="row download-images">
                                    <div class="col-md-2 col-3">
                                        <img src="img/img-card.jpg"
                                             alt="">
                                        <input type="hidden" name="gallery[]" value="937">
                                        <button class="btn-del-img" type="button" data-id="937">X</button>
                                    </div>
                                    <div class="col-md-2 col-3">
                                        <img src="img/img-card.jpg"
                                             alt="">
                                        <input type="hidden" name="gallery[]" value="939">
                                        <button class="btn-del-img" type="button" data-id="939">X</button>
                                    </div>
                                </div>
                                <div class="info mb-1">
                                    * Поля, обязательные для заполнения
                                </div>
                                <div class="btn-wrap">
                                    <button class="btn btn-violet">Добавить отзыв</button>
                                    <div class="rule">
                                        Нажимая кнопку «Добавить отзыв» вы соглашаетесь с <a href="#" target="_blank">политикой
                                            обработки персональных данных и пользовательским соглашением</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</div>
{% include 'modals.html' %}
{% include 'scripts.html' %}
</body>
</html>

