<footer id="footer">
    <div class="general-contacts">
        <div class="container">
            <ul class="ul-reset">
                <li>
                    <svg class="icon-email">
                        <use xlink:href="img/symbol/sprite.svg#icon-email"></use>
                    </svg>
                    <dl>
                        <dt>Наша почта</dt>
                        <dd><a href="mailto:admin@website.com">admin@website.com</a></dd>
                    </dl>
                </li>
                <li>
                    <svg class="icon-phone">
                        <use xlink:href="img/symbol/sprite.svg#icon-phone"></use>
                    </svg>
                    <dl>
                        <dt>Телефон</dt>
                        <dd><a href="tel:+7(495) 640-47-80">+7(495) 640-47-80</a></dd>
                    </dl>
                </li>
                <li>
                    <svg class="icon-address">
                        <use xlink:href="img/symbol/sprite.svg#icon-address"></use>
                    </svg>
                    <dl>
                        <dt>Кемерово</dt>
                        <dd>ул. Терешковой, 18А</dd>
                    </dl>
                </li>
                <li>
                    <svg class="icon-time">
                        <use xlink:href="img/symbol/sprite.svg#icon-time"></use>
                    </svg>
                    <dl>
                        <dt>Режим работы</dt>
                        <dd>Круглосуточно</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="logo">
                    <img src="img/logo.svg" alt="">
                </div>
            </div>
            <div class="col">
                <ul class="ul-reset">
                    <li><a href="#">Карты по категориям</a></li>
                    <li><a href="#">Банки</a></li>
                    <li><a href="#">Города</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="ul-reset">
                    <li><a href="#">Калькулятор</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2020 ВсеКредитныеКарты. Все права защищены</p>
            <ul class="ul-reset">
                <li><a href="#">О проекте</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#policy" data-fancybox>Пользовательское соглашение</a></li>
            </ul>
        </div>
    </div>
</footer>
