<div class="product">
    <div class="row no-gutters">
        <div class="col-lg-3 col-md-4 line hidden-md">
            <div class="pd-15">
                <figure>
                    <img src="img/img-card.jpg" alt="">
                </figure>
                <div class="rating">
                    <div class="stars" data-rating="3">
                        {% include 'stars.html' %}
                    </div>
                    <a href="#">4 отзыва</a>
                </div>
                <a href="#" class="btn btn-violet-light">Подробнее</a>
                <a href="#" class="btn btn-violet">Оформить карту</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="pd-15">
                <div class="title h2">Виртуальная карта Квику</div>
                <div class="product-bank">
                    Kviku Online Bank
                </div>
                <div class="visible-md">
                    <div class="rating">
                        <div class="stars" data-rating="3">
                            {% include 'stars.html' %}
                        </div>
                        <a href="#">4 отзыва</a>
                    </div>
                    <figure>
                        <img src="img/img-card.jpg" alt="">
                    </figure>
                </div>
                <div class="product-options">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <dl>
                                <dt>
                                    Кредитный лимит
                                    <div class="hint">
                                        <i class="icon-hint">?</i>
                                        <div class="hint-text">
                                            Льготный период по уплате процентов, который
                                            распространяется на все операции покупок.
                                        </div>
                                    </div>
                                </dt>
                                <dd>до <b>100 000</b> руб.</dd>
                            </dl>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <dl>
                                <dt>
                                    Льготный период
                                </dt>
                                <dd>до <b>120</b> дней</dd>
                            </dl>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <dl>
                                <dt>
                                    Процентная ставка
                                </dt>
                                <dd>от <b>12%</b></dd>
                            </dl>
                        </div>
                        <div class="col-lg-3 col-md-6 hidden-md">
                            <dl>
                                <dt>
                                    Стоимость
                                </dt>
                                <dd><b>0</b> руб./год</dd>
                            </dl>
                        </div>
                        <div class="col-lg-3 col-md-6 hidden-md">
                            <dl>
                                <dt>
                                    Доставка
                                </dt>
                                <dd>до <b>5</b> дней</dd>
                            </dl>
                        </div>
                        <div class="col-lg-3 col-md-6 hidden-md">
                            <dl>
                                <dt>
                                    Рассмотрение
                                </dt>
                                <dd>до <b>30</b> минут</dd>
                            </dl>
                        </div>
                        <div class="col-lg-3 col-md-6 hidden-md">
                            <dl>
                                <dt>
                                    Подтверждение дохода
                                </dt>
                                <dd><b>Требуется</b></dd>
                            </dl>
                        </div>
                        <div class="col-lg-3 col-md-6 hidden-md">
                            <dl>
                                <dt>
                                    Кэшбэк
                                </dt>
                                <dd>Есть</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="article hidden-text">
                    <p><b>Особенности</b></p>
                    <ul class="v-2">
                        <li>Не нужно платить за выпуск. Банк изготовит и доставит пластик прямо вам
                            на
                            дом. Доставка тоже бесплатная;
                        </li>
                        <li>Льготный период по уплате процентов, который распространяется на все
                            операции покупок.
                        </li>
                        <li>Делать платежи и переводы в интернет-банке, доступ к которому будет дан
                            бесплатно;
                        </li>
                    </ul>
                    <p>Карта Тинькофф Платинум — один из самых популярных кредитных продуктов.
                        Тысячи
                        граждан успешно ею пользуются, заказывая кредитку онлайн при наличии только
                        паспорта. Банк оснастил ее интересным функционалом и возможностью полностью
                        бесплатного пользования.
                    </p>
                    <p><b>Важно: Представитель <a href="#">Тинькофф Банка</a> будет в маске и
                            перчатках
                            при передаче карты вам в руки. Безопасная и бесплатная доставка,
                            минимальный
                            контакт с сотрудником.</b></p>
                    <div class="features">
                        <dl>
                            <dt>Кредитная ставка на покупки</dt>
                            <dt>11.99% - 29.23%</dt>
                        </dl>
                        <dl>
                            <dt>Кредитная ставка на наличные</dt>
                            <dt>23.99% - 29.23%</dt>
                        </dl>
                        <dl>
                            <dt>Кредитный лимит</dt>
                            <dt>до 500 000 ₽</dt>
                        </dl>
                        <dl>
                            <dt>Льготный период</dt>
                            <dt>100 дней</dt>
                        </dl>
                    </div>
                </div>
                <button type="button" class="btn-toggle-text">
                    <span>Читать далее</span>
                    <svg class="icon-arr-down">
                        <use xlink:href="img/symbol/sprite.svg#icon-arr-down"></use>
                    </svg>
                </button>
                <div class="visible-md">
                    <a href="#" class="btn btn-violet-light">Подробнее</a>
                    <a href="#" class="btn btn-violet">Оформить карту</a>
                </div>
            </div>
        </div>
    </div>
</div>
