<div class="row no-gutters hidden-md">
    {% for i in range(0, 4) %}
        <div class="col-lg-3 col-md-6">
            <div class="review pd-15">
                <figure>
                    <img src="img/img-card.jpg" alt="">
                </figure>
                <div class="rating">
                    <b>Александра</b>
                    <div class="stars" data-rating="3">
                        {% include 'stars.html' %}
                    </div>
                </div>
                <p>Странное поведение, сначала неделю навязывают карту под всеми предлогами, а потом
                    отказывают...
                    <a href="#">Читать далее</a></p>
            </div>
        </div>
    {% endfor %}
</div>
<div class="slider-items visible-md">
    {% for i in range(0, 4) %}
        <div>
            <div class="review pd-15">
                <figure>
                    <img src="img/img-card.jpg" alt="">
                </figure>
                <div class="rating">
                    <b>Александра</b>
                    <div class="stars" data-rating="3">
                        {% include 'stars.html' %}
                    </div>
                </div>
                <p>Странное поведение, сначала неделю навязывают карту под всеми предлогами, а потом
                    отказывают...
                    <a href="#">Читать далее</a></p>
            </div>
        </div>
    {% endfor %}
</div>
